<!DOCTYPE html>
<html>
	<head>
		<title>Cadenza: Syntax</title>
		<script src="resources/modernizr-2.0.6.js"></script>
		<link type='text/css' rel='stylesheet' href='resources/style.css'/> 
		<link type='text/css' rel='stylesheet' href='resources/pygments/sublime.css'/>
		
	</head>
	<body>
		<div id='logo'>Cadenza</div>
		<div class='ribbon-holder'>
			<a href='http://www.github.com/whoward/Cadenza' target="_blank"><span>Fork me on GitHub</span></a>
		</div>
		<div id='content'>
  <h1 id="syntax">Syntax of Cadenza</h1>

  <section>
    <h2>Introduction</h2>
    <p>Cadenza is a text templating language.  The reason for pointing out that it
    is a "text" templating language is so that you realize that it can apply to 
    any kind of text document out there, from the HTML documents you'll likely
    be using it for to emails, to source code, to anything else - Cadenza
    doesn't care what kind of text document it's working on.</p>
      
    <p>That said, Cadenza was designed with HTML pages in mind so most of this
    document will refer to using Cadenza with HTML.  If you haven't had a chance
    to learn any HTML before I'd suggest learning the basics as it's a very easy
    language to learn and this document will probably make more sense after you 
    have had a chance to do so.</p>
  </section>
    
  <section>
    <h2>Basics</h2>
    <p>Cadenza primarily uses two kinds of tags to mark up it's content as a 
    template.</p>

    <p>The first kind is used to inject some kind of text into your output 
    document.  These are called <b>inject tags</b> and always start with
    a double left curly bracket <tt>{{</tt> and end with a double right 
    curly bracket <tt>}}</tt>.  The stuff that comes between the brackets 
    defines what you want to inject into your document.  We will discuss 
    <a href='#inject'>Inject Tags</a> more later.</p>

    <p>The second kind of tag is called a <b>control tag</b>.  These tags are used to 
    control the path Cadenza takes to render your template.</p>

    <aside>We use the word <b>render</b> to talk about the process Cadenza takes
    to write your output document from a template.</aside>

    <p>Control tags always start with a single curly bracket <tt>{</tt> followed 
    by a percent symbol <tt>%</tt>, making it look like this: <tt>{%</tt>.  Like inject tags, control tags end with the
    opposite of what they start with: a percent symbol followed by a right curly
    bracket: <tt>%}</tt>.</p>

    <p>Some control tags come in pairs or even triplets - there's a lot of 
    different kinds!  These control tags form what we call a <b>block</b>, which
    will render differently depending on how the template is set up.  Don't worry,
    we will go into more detail in later sections.</p>
</section>
  <section>
   <h2 id="comments">Comments</h2>  

   <p>You can insert comments into your templates by placing them between a left 
   curly brace followed by a number sign <tt>{#</tt> and a number sign 
   followed by a right curly brace <tt>#}</tt>.  The comment doesn't show 
   up in the output at all!</p>

   <p>Here's an example of comments:</p>

   <div class='example'><div class="highlight"><pre><span class="x">Hello world! This template demonstrates the use of comments.  As you can see -</span>
<span class="x">there is nothing rendered between this paragraph and the next.</span>

<span class="c">{# This is my comment, it won&#39;t appear in the output #}</span><span class="x"></span>

<span class="x">Yes, nothing at all - no comments or anything.</span>
</pre>
</div>
<div class="highlight"><pre>Hello world! This template demonstrates the use of comments.  As you can see -
there is nothing rendered between this paragraph and the next.



Yes, nothing at all - no comments or anything.
</pre>
</div>
</div>
</section>
  <section>
   <h2 id="constants">Constants</h2>

   <p>Constants are values which do not change or represent some value, like
   variables do.  Constants can either be a number or a string.  Constants can
   only be used inside an inject tag or a control tag - outside of these tags 
   they are just treated as text.</p>
     
   <h4>Numbers</h4>
   <p>Numbers are any integer or real.</p>
   <div class='example'><div class="highlight"><pre><span class="cp">{{</span> <span class="m">123</span> <span class="cp">}}</span><span class="x"></span>
<span class="cp">{{</span> <span class="m">3.14159</span> <span class="cp">}}</span><span class="x"></span>
</pre>
</div>
<div class="highlight"><pre>123
3.14159
</pre>
</div>
</div>

   <h4>Strings</h4>
   <p>Strings refer to a "string of characters", you can enter them in by wrapping
   your words and spaces with either a double quote <tt>"</tt> or single quote 
   <tt>'</tt>.</p>
   <div class='example'><div class="highlight"><pre><span class="cp">{{</span> <span class="s1">&#39;Hello World!&#39;</span> <span class="cp">}}</span><span class="x"></span>
<span class="cp">{{</span> <span class="s2">&quot;I&#39;m writing Cadenza!&quot;</span> <span class="cp">}}</span><span class="x"></span>
</pre>
</div>
<div class="highlight"><pre>Hello World!
I&#39;m writing Cadenza!
</pre>
</div>
</div>
</section>
  <section>
  <h2 id="variables">Variables</h2>

  <p>Variables are different from <a href='#constants'>constants</a> because 
  they dont have a value (like constants do) but hold the place for some value
  that varies (in other words - variables).</p>
    
  <p>Variables may begin with uppercase or lowercase characters or an underscore
  <tt>_</tt> and, after the first character, include digits (0-9).  So, for instance,
  the following are valid identifiers:</p>
    
  <div class="highlight"><pre><span class="cp">{{</span> <span class="nv">foo</span> <span class="cp">}}</span><span class="x"></span>
<span class="cp">{{</span> <span class="nv">hello123</span> <span class="cp">}}</span><span class="x"></span>
<span class="cp">{{</span> <span class="err">_</span><span class="nv">var</span> <span class="cp">}}</span><span class="x"></span>
<span class="cp">{{</span> <span class="nv">MyVariable</span> <span class="cp">}}</span><span class="x"></span>
</pre>
</div>


  <p>However, the following examples are not:</p>
  <div class="highlight"><pre><span class="cp">{{</span> <span class="m">9</span><span class="nv">abc</span> <span class="cp">}}</span><span class="x"></span>
<span class="cp">{{</span> <span class="nv">foo-bar</span> <span class="cp">}}</span><span class="x"></span>
</pre>
</div>


  <p><b>Note:</b> identifiers are case sensitive so <tt>HelloWorld</tt> and 
  <tt>helloWorld</tt> are treated differently.</p>
</section>
  <section>
  <h2 id="inject">Inject tags</h2>

  <p>Inject tags allow you to insert variables into your template and optionally
  apply some filters to them before they are injected.  An inject tag generally
  looks something like this:</p>
    
  <div class="highlight"><pre><span class="cp">{{</span> <span class="nv">name</span> <span class="o">|</span> <span class="nf">upper</span> <span class="cp">}}</span><span class="x"></span>
</pre>
</div>


  <p>In this example the variable named "name" is injected into the text but is 
  first converted to upper case by using the "upper" filter.  Filters are 
  entirely optional, meaning that the most basic inject tag looks like this:</p>
    
  <div class="highlight"><pre><span class="cp">{{</span> <span class="nv">name</span> <span class="cp">}}</span><span class="x"></span>
</pre>
</div>


  <p>When you do want to use a filter just insert a pipe character <tt>|</tt>
  and then give the name of your filter.  If you're wondering what filters are
  available then you can have a look at the <a href='filters.html'>standard filter
  reference</a>.  When using Cadenza, programmers can also write custom filters
  for you to use, for information about writing custom filters consult the
  <a href='reference.html'>programmer's reference</a>.</p>

  <p>Some filters take a list of <b>parameters</b> which change the way they
  work.  When providing parameters add a colon <tt>:</tt> to the end of your 
  filter name and then give your parameters separated by commas <tt>,</tt>.
  Here's some examples: </p>
  
  <div class='example'><div class="highlight"><pre><span class="cp">{{</span> <span class="nv">name</span> <span class="o">|</span> <span class="nf">upper</span> <span class="cp">}}</span><span class="x"></span>
<span class="cp">{{</span> <span class="nv">name</span> <span class="o">|</span> <span class="nf">upper</span> <span class="o">|</span> <span class="nf">cut</span><span class="o">:</span> <span class="s2">&quot;DOE&quot;</span> <span class="cp">}}</span><span class="x"></span>
<span class="cp">{{</span> <span class="nv">name</span> <span class="o">|</span> <span class="nf">center</span><span class="o">:</span> <span class="m">20</span> <span class="cp">}}</span><span class="x"></span>
<span class="cp">{{</span> <span class="nv">name</span> <span class="o">|</span> <span class="nf">center</span><span class="o">:</span> <span class="m">20</span><span class="o">,</span> <span class="s2">&quot;-&quot;</span> <span class="cp">}}</span><span class="x"></span>
</pre>
</div>
<div class="highlight"><pre>JOHN DOE
JOHN 
      John Doe      
------John Doe------
</pre>
</div>
</div>

  <p>Variables also sometimes come in the form of a function, which means that
  each time you call them you may get a different result.  These variables are
  called <b>functional variables</b>.  Functional variables can also take a list
  of parameters which can further modify the result.  For example, the <tt>load</tt>
  function will insert the text from another file without rendering it:</p>

  <div class='example'><div class="highlight"><pre><span class="cp">{{</span> <span class="nv">load</span> <span class="s2">&quot;partials/lorem-ipsum.cadenza&quot;</span> <span class="o">|</span> <span class="nf">wordwrap</span><span class="o">:</span> <span class="m">75</span> <span class="cp">}}</span><span class="x"></span>
</pre>
</div>
<div class="highlight"><pre><span class="nt">&lt;p&gt;</span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam congue
dictum nulla, quis posuere ipsum venenatis eu. Maecenas mi justo, commodo
porta eleifend vitae, semper quis erat. Aliquam elit ante, commodo in
convallis vitae, fermentum sit amet elit. Phasellus fringilla risus
scelerisque nibh tempus rhoncus.<span class="nt">&lt;/p&gt;</span>
</pre>
</div>
</div>

  <p>For a full list of the functional variables you can use have a look at the
  <a href='variables.html'>standard functional variables reference</a>.  You can
  also define your own functional variables in Cadenza, see the 
  <a href='reference.html'>programmer's reference</a> for details.</p>
</section>
  <section>
   <h2 id="arithmetic">Arithmetic</h2>
   <p>When you need to you can perform arithmetic operations on your constants
   and variables.  You can add using the plus symbol <tt>+</tt>, subtract using
   the minus symbol <tt>-</tt>, multiply using the star symbol <tt>*</tt> and 
   divide using the slash symbol <tt>/</tt>.</p>

   <p>Arithmetic is evaluated using the standard order of operations for
   mathematics (Brackets, Divison & Multiplication, Addition & Subtraction).</p>
    
    <p>Here's an example of some arithmetic being used in inject tags:</p>
    <div class='example'><div class="highlight"><pre><span class="cp">{{</span> <span class="m">123</span> <span class="o">+</span> <span class="m">456</span> <span class="cp">}}</span><span class="x"></span>
<span class="cp">{{</span> <span class="m">1</span> <span class="o">+</span> <span class="m">2</span> <span class="o">*</span> <span class="m">3</span> <span class="o">-</span> <span class="m">4</span> <span class="o">/</span> <span class="m">5</span> <span class="cp">}}</span><span class="x"></span>
<span class="cp">{{</span> <span class="o">(</span><span class="m">1</span> <span class="o">+</span> <span class="m">2</span><span class="o">)</span> <span class="o">*</span> <span class="o">((</span><span class="m">3</span> <span class="o">-</span> <span class="m">4</span><span class="o">)</span> <span class="o">/</span> <span class="m">5</span><span class="o">)</span> <span class="cp">}}</span><span class="x"></span>
<span class="cp">{{</span> <span class="s2">&quot;a&quot;</span> <span class="o">*</span> <span class="m">3</span> <span class="cp">}}</span><span class="x"></span>
<span class="cp">{{</span> <span class="nv">alphabet.length</span> <span class="o">-</span> <span class="m">1</span> <span class="cp">}}</span><span class="x"></span>
</pre>
</div>
<div class="highlight"><pre>579
7
-3
aaa
25
</pre>
</div>
</div>

    <p>It can be used anywhere you need to supply a value, for example, in filter
    parameters:</p>

    <div class='example'><div class="highlight"><pre><span class="cp">{{</span> <span class="nv">lorem_ipsum</span> <span class="o">|</span> <span class="nf">wordwrap</span><span class="o">:</span> <span class="m">20</span> <span class="o">+</span> <span class="m">5</span> <span class="cp">}}</span><span class="x"></span>
</pre>
</div>
<div class="highlight"><pre>Lorem ipsum dolor sit
amet, consectetur
adipisicing elit
</pre>
</div>
</div>
</section>
  <section>
   <h2 id="if_statement">If Statements</h2>
   <p>If statements are a kind of control tag that provide you a way to control
   whether or not Cadenza will render a certain section of your template. To
   determine this if statements must contain an <b>expression</b> which Cadenza
   will evaluate.</p>

   <p>If statements are constructed like this:</p>
     
   <div class="highlight"><pre><span class="cp">{%</span> <span class="k">if</span> <span class="nv">expression</span> <span class="cp">%}</span><span class="x"></span>
<span class="x">   ...</span>
<span class="cp">{%</span> <span class="k">else</span> <span class="cp">%}</span><span class="x"></span>
<span class="x">   ...</span>
<span class="cp">{%</span> <span class="k">endif</span> <span class="cp">%}</span><span class="x"></span>
</pre>
</div>

   
   <aside class='right'>
      <div><b>true</b> and <b>false</b> are called boolean values.  This sounds 
      complicated but really all what boolean values are is the result of 
      evaluating some kind of logic.</div>
      <br/>
      <div>For example if I said "the current year is 1985" then my statement 
      would be <b>false</b>, however, if I said "the year 1985 is in the past" 
      then my statement would be <b>true</b>.</div>
   </aside>

   <p>You can see that unlike most blocks the if statement can have two blocks
   separated by an <tt>{% else %}</tt> tag.  The else tag and the block
   which follows it is optional, so the simplest form of an if statement looks
   like this:</p>

   <div class="highlight"><pre><span class="cp">{%</span> <span class="k">if</span> <span class="nv">expression</span> <span class="cp">%}</span><span class="x"></span>
<span class="x">   ...</span>
<span class="cp">{%</span> <span class="k">endif</span> <span class="cp">%}</span><span class="x"></span>
</pre>
</div>


   <p>Depending on how the expression evaluates the different blocks will be
   rendered.  If the expression evaluates to true then the first block will
   be rendered:</p>

   <div class='example'><div class="highlight"><pre><span class="cp">{%</span> <span class="k">if</span> <span class="nv">something_true</span> <span class="cp">%}</span><span class="x"></span>
<span class="x">   It was true!</span>
<span class="cp">{%</span> <span class="k">else</span> <span class="cp">%}</span><span class="x"></span>
<span class="x">   It was false!</span>
<span class="cp">{%</span> <span class="k">endif</span> <span class="cp">%}</span><span class="x"></span>
</pre>
</div>
<div class="highlight"><pre>   It was true!
</pre>
</div>
</div>

   <p>When the expression evaluates to false then the second block will be 
   rendered:</p>

   <div class='example'><div class="highlight"><pre><span class="cp">{%</span> <span class="k">if</span> <span class="nv">something_false</span> <span class="cp">%}</span><span class="x"></span>
<span class="x">   It was true!</span>
<span class="cp">{%</span> <span class="k">else</span> <span class="cp">%}</span><span class="x"></span>
<span class="x">   It was false!</span>
<span class="cp">{%</span> <span class="k">endif</span> <span class="cp">%}</span><span class="x"></span>
</pre>
</div>
<div class="highlight"><pre>   It was false!
</pre>
</div>
</div>

   <p>Of course, if no <tt>{% else %}</tt> block is provided and the
   expression evaluates to false then nothing will be rendered at all:</p>

   <div class='example'><div class="highlight"><pre><span class="cp">{%</span> <span class="k">if</span> <span class="nv">something_false</span> <span class="cp">%}</span><span class="x"></span>
<span class="x">   It was true!</span>
<span class="cp">{%</span> <span class="k">endif</span> <span class="cp">%}</span><span class="x"></span>
</pre>
</div>
</div>
</section>
  <section>
  <h2 id="expressions">Expressions</h2>

  <p>Expressions are conditions you can use to express some kind of logic in a
  way that Cadenza can understand.</p>

  <p>An expression is made up of a list of terms, each of which has two values 
  which you are comparing using a symbol called a <b>comparator</b>.</p>

  <div class="highlight"><pre><span class="cp">{%</span> <span class="k">if</span> <span class="nv">a</span> <span class="o">&lt;</span> <span class="nv">b</span> <span class="cp">%}</span><span class="x"></span>
<span class="cp">{%</span> <span class="k">if</span> <span class="m">3</span> <span class="o">&gt;</span> <span class="m">2</span> <span class="cp">%}</span><span class="x"></span>
<span class="cp">{%</span> <span class="k">if</span> <span class="nv">pi</span> <span class="o">==</span> <span class="m">3.14159</span> <span class="cp">%}</span><span class="x"></span>
</pre>
</div>


  <p>Cadenza supports all of the following comparators:</p>

  <table style="margin:auto">
    <thead>
      <tr>
        <th>Comparator</th>
        <th>Example</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Equality</td>
        <td><tt>a == b</tt></td>
        <td>Evaluates true if a is equal to b</td>
      </tr>
      <tr>
        <td>Greater Than</td>
        <td><tt>a &gt; b</tt></td>
        <td>Evaluates true if a is greater than b</td>
      </tr>
      <tr>
        <td>Less Than</td>
        <td><tt>a &lt; b</tt></td>
        <td>Evaluates true if a is less than b</td>
      </tr>
      <tr>
        <td>Greater Than or Equal To</td>
        <td><tt>a &gt;= b</tt></td>
        <td>Evaluates true if a is greater than b or a equals b</td>
      </tr>
      <tr>
        <td>Less Than or Equal To</td>
        <td><tt>a &lt;= b</tt></td>
        <td>Evaluates true if a is less than b or a equals b</td>
      </tr>
    </tbody>
  </table>

  <p>If you want to use more than one term in an expression then you'll have to
  include a <b>conjunction</b>.  Conjunctions are words which describe what the 
  two terms must evaluate to to be true overall.</p>

  <div class="highlight"><pre><span class="cp">{%</span> <span class="k">if</span> <span class="nv">a</span> <span class="o">&gt;</span> <span class="nv">b</span> <span class="k">and</span> <span class="nv">b</span> <span class="o">&gt;</span> <span class="nv">c</span> <span class="cp">%}</span><span class="x"></span>
<span class="cp">{%</span> <span class="k">if</span> <span class="nv">amount</span> <span class="o">==</span> <span class="m">1</span> <span class="k">or</span> <span class="nv">amount</span> <span class="o">==</span> <span class="s2">&quot;one&quot;</span> <span class="cp">%}</span><span class="x"></span>
</pre>
</div>


  <p>Cadenza supports the following conjunctions:</p>

  <table style="margin:auto">
    <thead>
      <tr>
        <th>Conjunction</th>
        <th>Example</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>and</td>
        <td><tt>{% if a and b %}</tt></td>
        <td>The expression is true if both <tt>a</tt> and <tt>b</tt> are true</td>
      </tr>
      <tr>
        <td>or</td>
        <td><tt>{% if a or b %}</tt></td>
        <td>The expression is true if either <tt>a</tt> or <tt>b</tt> are true</td>
      </tr>
    </tbody>
  </table>

  <p>When you want to invert the logic in your expressions you can use the 
  <tt>not</tt> keyword.  If you want to invert the whole expression you can use
  the <tt>unless</tt> keyword instead of the <tt>if</tt> keyword.</p>

  <div class="highlight"><pre><span class="c">{# these two expressions are logically equivalent #}</span><span class="x"></span>
<span class="cp">{%</span> <span class="k">if</span> <span class="k">not</span> <span class="o">(</span><span class="nv">a</span> <span class="o">&gt;</span> <span class="nv">b</span> <span class="k">and</span> <span class="nv">b</span> <span class="o">&gt;</span> <span class="nv">c</span><span class="o">)</span> <span class="cp">%}</span><span class="x"></span>
<span class="cp">{%</span> <span class="k">unless</span> <span class="nv">a</span> <span class="o">&gt;</span> <span class="nv">b</span> <span class="k">and</span> <span class="nv">b</span> <span class="o">&gt;</span> <span class="nv">c</span> <span class="cp">%}</span><span class="x"></span>
</pre>
</div>



</section>
  <section>
   <h2 id="for_statement">Loops</h2>
   <p>Sometimes you'll want to continually re-render the same section of template
   for a set of items.  For instance perhaps you'll want a table with a row for
   each piece of data you're trying to show.</p>

   <p>"For statements" allow you to continually output some text for every 
   element in a list. Here's what for statements look like:</p>
     
   <div class="highlight"><pre><span class="x">&lt;ol&gt;</span>
<span class="x">   </span><span class="cp">{%</span> <span class="k">for</span> <span class="nv">error</span> <span class="k">in</span> <span class="nv">errors</span> <span class="cp">%}</span><span class="x"></span>
<span class="x">   &lt;li&gt;</span><span class="cp">{{</span> <span class="nv">error</span> <span class="cp">}}</span><span class="x">&lt;/li&gt;</span>
<span class="x">   </span><span class="cp">{%</span> <span class="k">endfor</span> <span class="cp">%}</span><span class="x"></span>
<span class="x">&lt;/ol&gt;</span>
</pre>
</div>


   <p>You can see here that "for statements" are blocks, just like "if statements"
   are.  The general syntax for writing a "for statement" is:

   <div class="highlight"><pre><span class="cp">{%</span> <span class="k">for</span> <span class="nv">x</span> <span class="k">in</span> <span class="nv">y</span> <span class="cp">%}</span><span class="x"></span>
<span class="x">   ...</span>
<span class="cp">{%</span> <span class="k">endfor</span> <span class="cp">%}</span><span class="x"></span>
</pre>
</div>


   <p><b>"Y"</b> is a variable we call the <b>Enumerable</b>.  The enumerable
   should be some kind of object which <i>contains</i> or can <i>generate</i>.
   In programming we usually call this a <tt>list</tt> or an <tt>array</tt>.</p>

   <p>Regardless, we also have the variable <b>"X"</b> above.  <b>"X"</b> is 
   called the <b>enumerator</b> variable and you can name it whatever you want.</p>
   
   <p>By convention, most people will name the <b>Enumerable</b> as the plural
   form of whatever the enumerable contains and name the <b>Enumerator</b> whatever
   the singular form of the enumerable.  In other words you will often see an 
   enumerable named something like "items" and an enumerator named "item".  Of
   course, this is just a suggestion and you can use whatever names you want.</p>

   <p>The enumerator also defines some magic variables on itself which you may
   find useful when working with a for loop.  Here's a list of them:</p>

   <dl>
      <dt>forloop.counter</dt>
      <dd>Gives you the number of times the loop has been processed.</dd>

      <dt>forloop.counter0</dt>
      <dd>Like <b>counter</b> but assumes the first loop is loop #0, not loop #1.</dd>

      <dt>forloop.first</dt>
      <dd>Gives you a true value if this is the first iteration through a loop.</dd>

      <dt>forloop.last</dt>
      <dd>Gives you a true value if this is the last iteration through a loop.</dd>
   </dl>

   <p>So, with these variables you could write a HTML table like this:</p>

   <div class="highlight"><pre><span class="x">&lt;table class=&#39;scrollable&#39;&gt;</span>
<span class="x">   &lt;thead&gt;</span>
<span class="x">      &lt;tr&gt;</span>
<span class="x">         &lt;th&gt;x&lt;/th&gt;</span>
<span class="x">         &lt;th&gt;x.counter&lt;/th&gt;</span>
<span class="x">         &lt;th&gt;x.counter0&lt;/th&gt;</span>
<span class="x">         &lt;th&gt;x.first&lt;/th&gt;</span>
<span class="x">         &lt;th&gt;x.last&lt;/th&gt;</span>
<span class="x">      &lt;/tr&gt;</span>
<span class="x">   &lt;/thead&gt;</span>
<span class="x">   &lt;tbody&gt;</span>
<span class="x">   </span><span class="cp">{%</span> <span class="k">for</span> <span class="nv">x</span> <span class="k">in</span> <span class="nv">alphabet</span> <span class="cp">%}</span><span class="x"></span>
<span class="x">      &lt;tr&gt;</span>
<span class="x">         &lt;td&gt;</span><span class="cp">{{</span> <span class="nv">x</span> <span class="cp">}}</span><span class="x">&lt;/td&gt;</span>
<span class="x">         &lt;td&gt;</span><span class="cp">{{</span> <span class="nb">forloop</span><span class="nv">.counter</span> <span class="cp">}}</span><span class="x">&lt;/td&gt;</span>
<span class="x">         &lt;td&gt;</span><span class="cp">{{</span> <span class="nb">forloop</span><span class="nv">.counter0</span> <span class="cp">}}</span><span class="x">&lt;/td&gt;</span>
<span class="x">         &lt;td&gt;</span><span class="cp">{%</span> <span class="k">if</span> <span class="nb">forloop</span><span class="nv">.first</span> <span class="cp">%}</span><span class="x">Yes</span><span class="cp">{%</span> <span class="k">else</span> <span class="cp">%}</span><span class="x">No</span><span class="cp">{%</span> <span class="k">endif</span> <span class="cp">%}</span><span class="x">&lt;/td&gt;</span>
<span class="x">         &lt;td&gt;</span><span class="cp">{%</span> <span class="k">if</span> <span class="nb">forloop</span><span class="nv">.last</span> <span class="cp">%}</span><span class="x">Yes</span><span class="cp">{%</span> <span class="k">else</span> <span class="cp">%}</span><span class="x">No</span><span class="cp">{%</span> <span class="k">endif</span> <span class="cp">%}</span><span class="x">&lt;/td&gt;</span>
<span class="x">      &lt;/tr&gt;</span>
<span class="x">   </span><span class="cp">{%</span> <span class="k">endfor</span> <span class="cp">%}</span><span class="x"></span>
<span class="x">   &lt;/tbody&gt;</span>
<span class="x">&lt;/table&gt;</span>
</pre>
</div>


   <p>Which will display like this:</p>

   <table class='scrollable'>
   <thead>
      <tr>
         <th>x</th>
         <th>x.counter</th>
         <th>x.counter0</th>
         <th>x.first</th>
         <th>x.last</th>
      </tr>
   </thead>
   <tbody>
   
      <tr>
         <td>A</td>
         <td>1</td>
         <td>0</td>
         <td>Yes</td>
         <td>No</td>
      </tr>
   
      <tr>
         <td>B</td>
         <td>2</td>
         <td>1</td>
         <td>No</td>
         <td>No</td>
      </tr>
   
      <tr>
         <td>C</td>
         <td>3</td>
         <td>2</td>
         <td>No</td>
         <td>No</td>
      </tr>
   
      <tr>
         <td>D</td>
         <td>4</td>
         <td>3</td>
         <td>No</td>
         <td>No</td>
      </tr>
   
      <tr>
         <td>E</td>
         <td>5</td>
         <td>4</td>
         <td>No</td>
         <td>No</td>
      </tr>
   
      <tr>
         <td>F</td>
         <td>6</td>
         <td>5</td>
         <td>No</td>
         <td>No</td>
      </tr>
   
      <tr>
         <td>G</td>
         <td>7</td>
         <td>6</td>
         <td>No</td>
         <td>No</td>
      </tr>
   
      <tr>
         <td>H</td>
         <td>8</td>
         <td>7</td>
         <td>No</td>
         <td>No</td>
      </tr>
   
      <tr>
         <td>I</td>
         <td>9</td>
         <td>8</td>
         <td>No</td>
         <td>No</td>
      </tr>
   
      <tr>
         <td>J</td>
         <td>10</td>
         <td>9</td>
         <td>No</td>
         <td>No</td>
      </tr>
   
      <tr>
         <td>K</td>
         <td>11</td>
         <td>10</td>
         <td>No</td>
         <td>No</td>
      </tr>
   
      <tr>
         <td>L</td>
         <td>12</td>
         <td>11</td>
         <td>No</td>
         <td>No</td>
      </tr>
   
      <tr>
         <td>M</td>
         <td>13</td>
         <td>12</td>
         <td>No</td>
         <td>No</td>
      </tr>
   
      <tr>
         <td>N</td>
         <td>14</td>
         <td>13</td>
         <td>No</td>
         <td>No</td>
      </tr>
   
      <tr>
         <td>O</td>
         <td>15</td>
         <td>14</td>
         <td>No</td>
         <td>No</td>
      </tr>
   
      <tr>
         <td>P</td>
         <td>16</td>
         <td>15</td>
         <td>No</td>
         <td>No</td>
      </tr>
   
      <tr>
         <td>Q</td>
         <td>17</td>
         <td>16</td>
         <td>No</td>
         <td>No</td>
      </tr>
   
      <tr>
         <td>R</td>
         <td>18</td>
         <td>17</td>
         <td>No</td>
         <td>No</td>
      </tr>
   
      <tr>
         <td>S</td>
         <td>19</td>
         <td>18</td>
         <td>No</td>
         <td>No</td>
      </tr>
   
      <tr>
         <td>T</td>
         <td>20</td>
         <td>19</td>
         <td>No</td>
         <td>No</td>
      </tr>
   
      <tr>
         <td>U</td>
         <td>21</td>
         <td>20</td>
         <td>No</td>
         <td>No</td>
      </tr>
   
      <tr>
         <td>V</td>
         <td>22</td>
         <td>21</td>
         <td>No</td>
         <td>No</td>
      </tr>
   
      <tr>
         <td>W</td>
         <td>23</td>
         <td>22</td>
         <td>No</td>
         <td>No</td>
      </tr>
   
      <tr>
         <td>X</td>
         <td>24</td>
         <td>23</td>
         <td>No</td>
         <td>No</td>
      </tr>
   
      <tr>
         <td>Y</td>
         <td>25</td>
         <td>24</td>
         <td>No</td>
         <td>No</td>
      </tr>
   
      <tr>
         <td>Z</td>
         <td>26</td>
         <td>25</td>
         <td>No</td>
         <td>Yes</td>
      </tr>
   
   </tbody>
</table>
</section>
  <section>
  <h2>Template Inheritance</h2>

  <p>One of Cadenza's most useful features is template inheritance.  When writing
  any pure HTML website you'll find you often end up rewriting the same sections
  of code over and over again (things like your navigation links or footers).</p>

  <p>Template inheritance lets you define a "parent" template file with points
  that can be overridden with new content in your "child" template.  To get this
  working we make use of the <tt>extends</tt> and <tt>block</tt> tags.</p>

  <h3>"Extends" tags</h3>

  <p>The extend tag is a control tag that has no block, all what you have to do
  is give it the filename of your parent template as a parameter, like so:</p>

  <div class="highlight"><pre><span class="cp">{%</span> <span class="k">extends</span> <span class="s2">&quot;path/to/layout.cadenza&quot;</span> <span class="cp">%}</span><span class="x"></span>
</pre>
</div>


  <h3>Block tags</h3>

  <p>The block tag is a control tag which has a body of it's own.  You give the
  block a name by passing it a variable name as a paremeter.  You can give it any
  name you want.</p>

  <div class="highlight"><pre><span class="cp">{%</span> <span class="k">block</span> <span class="nv">content</span> <span class="cp">%}</span><span class="x"></span>
<span class="x">   Lorem Ipsum</span>
<span class="cp">{%</span> <span class="k">endblock</span> <span class="cp">%}</span><span class="x"></span>
</pre>
</div>


  <p>In a child template the block wont be rendered at all but it's contents
  will be captured for use in the parent template.  In the parent template
  the block with a matching name will have it's content replaced with the child's
  content which has the same name.  If there is no content in the child then
  whatever you've put in the layout's block will be rendered instead.</p>

  <h3>Example: Input documents</h3>
   
  <h4>partials/layout.cadenza</h4>
  <div class="highlight"><pre><span class="x">&lt;!DOCTYPE html&gt;</span>
<span class="x">&lt;html&gt;</span>
<span class="x">  &lt;head&gt;</span>
<span class="x">    &lt;title&gt;</span><span class="cp">{%</span> <span class="k">block</span> <span class="nv">title</span> <span class="cp">%}</span><span class="x">Untitled Page</span><span class="cp">{%</span> <span class="k">endblock</span> <span class="cp">%}</span><span class="x">&lt;/title&gt;</span>
<span class="x">  &lt;/head&gt;</span>
<span class="x">  &lt;body&gt;</span>
<span class="x">    &lt;section&gt;</span>
<span class="x">      &lt;h1&gt;</span><span class="cp">{%</span> <span class="k">block</span> <span class="nv">title</span> <span class="cp">%}</span><span class="x">Untitled Page</span><span class="cp">{%</span> <span class="k">endblock</span> <span class="cp">%}</span><span class="x">&lt;/h1&gt;</span>
<span class="x">      </span><span class="cp">{%</span> <span class="k">block</span> <span class="nv">content</span> <span class="cp">%}</span><span class="x">No content here</span><span class="cp">{%</span> <span class="k">endblock</span> <span class="cp">%}</span><span class="x"></span>
<span class="x">    &lt;/section&gt;</span>
<span class="x">    &lt;footer&gt;</span><span class="cp">{%</span> <span class="k">block</span> <span class="nv">footer</span> <span class="cp">%}</span><span class="x">default footer</span><span class="cp">{%</span> <span class="k">endblock</span> <span class="cp">%}</span><span class="x">&lt;/footer&gt;</span>
<span class="x">  &lt;/body&gt;</span>
<span class="x">&lt;/html&gt;</span>
</pre>
</div>


  <h4>home.cadenza</h4>
  <div class="highlight"><pre><span class="cp">{%</span> <span class="k">extends</span> <span class="s2">&quot;partials/layout.cadenza&quot;</span> <span class="cp">%}</span><span class="x"></span>
<span class="cp">{%</span> <span class="k">block</span> <span class="nv">title</span> <span class="cp">%}</span><span class="x">Home page</span><span class="cp">{%</span> <span class="k">endblock</span> <span class="cp">%}</span><span class="x"></span>
<span class="cp">{%</span> <span class="k">block</span> <span class="nv">content</span> <span class="cp">%}</span><span class="x"></span>
<span class="x">Hi! Welcome to my web page!</span>
<span class="cp">{%</span> <span class="k">endblock</span> <span class="cp">%}</span><span class="x"></span>
</pre>
</div>

   
  <h4>about.cadenza</h4>
  <div class="highlight"><pre><span class="cp">{%</span> <span class="k">extends</span> <span class="s2">&quot;partials/layout.cadenza&quot;</span> <span class="cp">%}</span><span class="x"></span>
<span class="cp">{%</span> <span class="k">block</span> <span class="nv">title</span> <span class="cp">%}</span><span class="x">About me</span><span class="cp">{%</span> <span class="k">endblock</span> <span class="cp">%}</span><span class="x"></span>
<span class="cp">{%</span> <span class="k">block</span> <span class="nv">content</span> <span class="cp">%}</span><span class="x"></span>
<span class="x">I&#39;m a software developer at (insert company here), you can email me at foo@example.com</span>
<span class="cp">{%</span> <span class="k">endblock</span> <span class="cp">%}</span><span class="x"></span>
<span class="cp">{%</span> <span class="k">block</span> <span class="nv">footer</span> <span class="cp">%}</span><span class="x">please don&#39;t spam me</span><span class="cp">{%</span> <span class="k">endblock</span> <span class="cp">%}</span><span class="x"></span>
</pre>
</div>


  <h3>Example: Rendered documents</h3>

  <h4>home.html</h4>
  <div class='example-without-label'>
    <div class="highlight"><pre><span class="cp">{%</span> <span class="k">extends</span> <span class="s2">&quot;partials/layout.cadenza&quot;</span> <span class="cp">%}</span><span class="x"></span>
<span class="cp">{%</span> <span class="k">block</span> <span class="nv">title</span> <span class="cp">%}</span><span class="x">Home page</span><span class="cp">{%</span> <span class="k">endblock</span> <span class="cp">%}</span><span class="x"></span>
<span class="cp">{%</span> <span class="k">block</span> <span class="nv">content</span> <span class="cp">%}</span><span class="x"></span>
<span class="x">Hi! Welcome to my web page!</span>
<span class="cp">{%</span> <span class="k">endblock</span> <span class="cp">%}</span><span class="x"></span>
</pre>
</div>

    <iframe src="iframe/home.html" class='rendered'></iframe>
  </div>

  <h4>about.html</h4>
  <div class='example-without-label'>
    <div class="highlight"><pre><span class="cp">{%</span> <span class="k">extends</span> <span class="s2">&quot;partials/layout.cadenza&quot;</span> <span class="cp">%}</span><span class="x"></span>
<span class="cp">{%</span> <span class="k">block</span> <span class="nv">title</span> <span class="cp">%}</span><span class="x">About me</span><span class="cp">{%</span> <span class="k">endblock</span> <span class="cp">%}</span><span class="x"></span>
<span class="cp">{%</span> <span class="k">block</span> <span class="nv">content</span> <span class="cp">%}</span><span class="x"></span>
<span class="x">I&#39;m a software developer at (insert company here), you can email me at foo@example.com</span>
<span class="cp">{%</span> <span class="k">endblock</span> <span class="cp">%}</span><span class="x"></span>
<span class="cp">{%</span> <span class="k">block</span> <span class="nv">footer</span> <span class="cp">%}</span><span class="x">please don&#39;t spam me</span><span class="cp">{%</span> <span class="k">endblock</span> <span class="cp">%}</span><span class="x"></span>
</pre>
</div>

    <iframe src="iframe/about.html" class='rendered'></iframe>
  </div>

</section>
</div>
		<nav>
  <h3>Topics</h3>
  <ul>
    <li><a href='index.html'>Home</a></li>
    <li><a href='syntax.html'>Syntax</a></li>
    <li><a href='filters.html'>Filter reference</a></li>
    <li><a href='variables.html'>Variables reference</a></li>
    <li><a href='blocks.html'>Blocks reference</a></li>
    <li><a href='reference.html'>Programming Reference</a></li>
    <li><a href='live.html'>Try Cadenza</a></li>
  </ul>
</nav>
	</body>
</html>
